# Ignore all directories (including nested git repos)
*/
!profiled_nodes/
!perf_commands_doc/
!autoware_dummy_perception_publisher/
!autoware_dummy_perception_publisher/**
!autoware_dummy_perception_publisher/**/
!identify_nodes/
!caret/
!modelling_scripts/
!modelling_scripts/**
!modelling_scripts/**/

# Ignore files with "flag" in the name
*flag*

.ros_dependencies